@model EventEase.Models.Bookings

@{
    ViewData["Title"] = "Delete";
}

<style>
    body {
        background: linear-gradient(to bottom, #8ee307, #00cffd);
        height: 100vh;
        margin: 0;
    }
</style>

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Bookings</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.eventsID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.eventsID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.venueID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.venueID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.bookingDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.bookingDate)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="bookingsID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index" style="background-color: rgb(65, 132, 225); color: rgb(0, 229, 255);">Back to List</a>
    </form>
</div>
