@model IEnumerable<EventEase.Models.Events>

@{
    ViewData["Title"] = "All Events";
}


<style>
    body {
        background: linear-gradient(to bottom, #8ee307, #00cffd);
        height: 100vh;
        margin: 0;
    }
</style>

<h1>Index</h1>

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        @TempData["ErrorMessage"]
    </div>
}

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.eventsID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.eventName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.eventDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.venueID)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.eventsID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.eventName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.eventDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.venueID)
                </td>
                <td>
                    <a asp-action="EditEvents" asp-route-id="@item.eventsID">Edit</a> |
                    <a asp-action="EventsDetails" asp-route-id="@item.eventsID">Details</a> |
                    <a asp-action="DeleteEvents" asp-route-id="@item.eventsID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<p>
    <a asp-action="CreateEvents" style="background-color: rgb(65, 132, 225); color: rgb(0, 229, 255);">Create New</a>
    <br />
    <a href="/Home/Index" class="btn" style="background-color: rgb(65, 132, 225); color: rgb(0, 229, 255);"> Back To Home</a>
</p>