@model IEnumerable<EventEase.Models.Venue>

@{
    ViewData["Title"] = "Available Venues";
}


<style>
    body {
    background: linear-gradient(to bottom, #8ee307, #00cffd);
    height: 100vh;
    margin: 0;
    }
</style>

<h1>Index</h1>

@if (TempData["ErrorMessage"]!=null)
{
    <div class="alert alert-danger">
        @TempData["ErrorMessage"]
    </div>
}

@if (TempData["SuccessMessage"]!=null)
{
    <div class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>
}



<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.venueId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.venueName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.capacity)
            </th>
            <th>Venue Image</th>


            <th></th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.venueId)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.venueName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.location)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.capacity)
                </td>

                <td>
                    @if (!string.IsNullOrEmpty(item.Imageurl))
                    {
                        <div class="form-group">
                            
                            <img src="@item.Imageurl" alt="Venue Image" width="100" height="100" style="object-fit: cover; border-radius: 8px;" />
                        </div>
                    }
                    else
                    {
                        <span>No Image</span>
                    }
                </td>

            <td>
                <a asp-action="EditVenue" asp-route-id="@item.venueId">Edit</a> |
                <a asp-action="VenueDetails" asp-route-id="@item.venueId">Details</a> |
                <a asp-action="DeleteVenue" asp-route-id="@item.venueId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

<p>
    <a asp-action="CreateVenue" style="background-color: rgb(65, 132, 225); color: rgb(0, 229, 255);">Create New</a>
    <br />
    <a href="/Home/Index" class="btn" style="background-color: rgb(65, 132, 225); color: rgb(0, 229, 255);"> Back To Home</a>
</p>
